arrow
requests
sqlalchemy
pyjwt
cryptography
marshmallow
pytest
pdbpp
bs4
requests
faker
jupyter
jupyterlab
matplotlib
numpy
openpyxl
pandas
build
twine
platformdirs
pydantic
isort
black
django
fastapi
python-dotenv
uvicorn